/* chewy-regular - latin */
@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  src: url('font/chewy-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('font/chewy-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/chewy-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/chewy-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('font/chewy-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/chewy-v12-latin-regular.svg#Chewy') format('svg'); /* Legacy iOS */
}

body {
    background-color: #dae7ed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
  font-family: 'Chewy', Fallback, sans-serif;
  font-size: 5rem;
}

h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

button {
    background-color: #f772b7; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
  }

.blackBtn {
  background-color: #0d0d0d;
}

.greyBtn {
  background-color: darkgrey;
}

.rgbBtn {
  background-image: linear-gradient(to right, rgba(255, 126, 126, 0.527),  rgba(131, 255, 158, 0.493), rgba(133, 133, 255, 0.527));
}

button.resetBtn {
  background-color: #f44336;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.mainContainer {
    display: flex;
    Width:700px;
    height:700px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px #000000, 0px 0px 2px #0d0d0d;
}

.controls {
    display: flex;
    flex-direction: row;
    width: 700px;
    padding-top: 50px;
    padding-bottom: 75px;
    justify-content: space-between;
    align-items: baseline;
}

.resSlider {
    padding-top: 60px;
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resetbtnContainer {
    height: 30px;
}

.etchRow {
    height: 6.25%;
    width: auto;
    display: flex; 
    flex-direction: row;
}

.square {
    
    width: 6.25%;
    background-color: rgba(0,0,0,0);
}

.squareFilled {
    width: 6.25%;
    border: 1px solid black;
}



input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }